* {
  color: #565656;
  font: 13px/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html, body {
  display: block;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  zoom: 1;
}

p {
  margin: 0;
  padding: 10px;
}

ul, ol, li {
  display: block;
  position: relative;
  list-style: none outside;
  padding: 0;
  margin: 0;
}

.livefield-input {
  display: block;
  width: 750px;
  margin: 0;
  padding: 8px 10px;
  border: 1px solid #d4d4d4;
  outline: none;
  vertical-align: top;
  -webkit-box-sizing: border-box;
}

.livefield-results {
  display: block;
  padding: 4px 0;
  border: 1px solid #d4d4d4;
  border-top: 0 none;
  line-height: 1;
  background: #fff;
}

.livefield-drop-up {
  border-top: 1px solid #d4d4d4;
  border-bottom: 0 none;
}

.livefield-result {
  padding: 8px 10px;
  font-weight: bold;
  cursor: pointer; cursor: hand;
}

.livefield-result.livefield-highlighted {
  background-color: #dee5ea;
}

.livefield-result .name {
  font-weight: bold;
}

.livefield-result .path {
  position: absolute;
  right: 10px;
}
